body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}


.container{
    margin-top: 50px;
    background-color: rgb(52, 80, 204);
    padding: 20px;
    border-radius: 20px;
    padding-left: 150px;
    padding-right: 150px;
    color: white;
}

h1{
    text-align: center;
}

fieldset{
    border-radius: 20px;
    padding-left: 100px;
    padding-right: 100px;
 
}

legend{
    text-align: center;
    font-weight: bold;
}

input{
    border-radius: 8px;
    padding: 6px;
    background-color:azure;
    
}

.display{
    margin-top: 250px;
    background-color: rgb(52, 80, 204);
    color: white;
    padding: 50px;
    border-radius: 20px;

}

.tableDisplay{
    display: flex   ;
    justify-content: center;
}

a{
    display: flex   ;
    justify-content: center;
    color: white;
}

